
// variables
$blue: #224799;
$blueWithOpacity: rgba(20,42,90,.7);
$dblue: #142a5a;
$lblue: #46bccc;
// $slblue: #46bccc;
$accent: #997422;

/* fade transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

html{
  font-size: 14px;
}

body{
    // font-family: 'Open Sans', sans-serif!important;
    font-family: 'Rubik', sans-serif!important;
    background: white
}

ol {
  list-style: none;
  counter-reset: li;
  li{
    counter-increment: li;
    margin-bottom: .5rem;
  &::before {
    content: counter(li);
    font-weight: bold;
    color: $dblue;
    display: inline-block; width: 1em;
    margin-left: -1em}
  }
}

.card{
    background: white;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

// .title-header{
//     font-size: 22px;
//     margin-bottom:20px;
//     &:before{
//         position: absolute;
//         content: "";
//         left: 0;
//         bottom: 0;
//         height: 2px;
//         width: 50px;
//         background: $blue;;
//     }
// }
.page-content{
  padding: 20px 0;
  .h2{
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
  }
}
.title-header-bar{
    height: 28px;
    line-height: 28px;
    padding: 5px 0;
    margin: 0 0 .5em;
    font-size: 26px;
    font-weight: bold;
}
.container{
    max-width: 940px;
    min-height: 0;

}
.no-style{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  &.chevrons{
    svg{
      margin-right: 10px;
      color: $blue;
    }
  }
}
.btn-default{
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    padding: 10px;
    background-color: $dblue;
    border-radius: 4px;
    &--padded{
        padding:10px 30px;
    }
}

/* home slider */

.swiper-button-prev,
.swiper-button-next {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  color: $dblue;
  opacity: 0;
  transform: translateX(60px);
  transition: 0.3s all ease-in-out;
}
.swiper-container {
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 0.8
    }
  }
}
.swiper-button-prev {
  transform: translateX(-60px);
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 1;
  &.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.5);
  }
}
.dropdown-menu {
  background-color: $dblue;
  .dropdown-item{
    color: white;
    &:hover{
      background: $lblue;
    }
    &.nuxt-link-active{
      background: $lblue;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  &:hover{
      background: $lblue;
      color: white;
    }
}